@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: red;
  --foreground: black;
  --link-protrude: #fff7b1;
  --link-protrude-bold: #ffee50;
}
:root.dark {
  --background: black;
  --foreground: white;
  --link-protrude: #808080;
  --link-protrude-bold: #c0c0c0;
}

* {
  font-feature-settings: "liga";
}
.common-font {
  font-family: var(--en-font), "Palatino Linotype", "URW Palladio L", P052,
    serif;
}
a {
  font-size: 14px;
  user-select: none;
}
.protrude {
  text-decoration: underline;
  text-decoration-color: var(--link-protrude);
  text-decoration-skip-ink: none;
  text-decoration-thickness: 0.5em;
  text-underline-offset: -0.25em;
  transition: text-decoration 0.3s;
  &:hover {
    text-decoration-color: var(--link-protrude-bold);
  }
}
.post-group {
  + .post-group {
    margin-top: 20px;
  }
}
@keyframes tick {
  0% {
    filter: blur(2px);
  }
  100% {
    filter: blur(0px);
  }
}
.blur-text {
  animation: tick .6s forwards;
}
