@tailwind base;
@tailwind components;
@tailwind utilities;

/* background-color: #57c7f933;
border-color: #57c7f9; */
:root {
  --background: red;
  --foreground: black;
  --link-protrude: #fff7b1;
  --link-protrude-bold: #ffee50;
  --success: #57ab5a;
  --r-link: #82aaff;
  --code-title-bg: #e0e0e0;
  --highlighted-bg: #8e96aa24;
  --highlighted-br: #ccc;
}
:root.dark {
  --background: black;
  --foreground: white;
  --link-protrude: #808080;
  --link-protrude-bold: #c0c0c0;
  --success: #57ab5a;
  --r-link: #c792ea;
  --code-title-bg: rgb(81, 81, 81);
  --highlighted-bg: #57c7f933;
  --highlighted-br: #57c7f9;
}
:root.light *[data-theme='dark'] {
  display: none;
}
:root.dark *[data-theme='light'] {
  display: none;
}

* {
  font-feature-settings: 'liga';
}
.common-font {
  font-family: var(--en-font), 'Palatino Linotype', 'URW Palladio L', P052,
    serif;
}
.protrude {
  text-decoration: underline;
  text-decoration-color: var(--link-protrude);
  text-decoration-skip-ink: none;
  text-decoration-thickness: 0.5em;
  text-underline-offset: -0.25em;
  transition: text-decoration 0.3s ease-in-out;
  &:hover {
    text-decoration-color: var(--link-protrude-bold);
  }
}
a {
  font-size: 14px;
  user-select: none;
}

.post-group {
  + .post-group {
    margin-top: 20px;
  }
}
@keyframes tick {
  0% {
    filter: blur(2px);
  }
  100% {
    filter: blur(0px);
  }
}
.blur-text {
  animation: tick 0.5s forwards;
}

.realistic-marker-highlight {
  position: relative;
}
.realistic-marker-highlight:before {
  content: '';
  background-color: var(--r-link);
  width: 100%;
  height: 1.1em;
  position: absolute;
  z-index: -1;
  filter: url(#marker-shape);
  left: 0;
  top: 0.2em;
  padding: 0;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
  display: block;
}

::view-transition-old(root) {
  z-index: 999;
}
.dark::view-transition-new(root) {
  z-index: 999;
}
.xterm .xterm-viewport {
  overflow: auto; /* 显示滚动条，根据内容决定是否显示 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
}

div[data-rehype-pretty-code-title] {
  color: var(--foreground);
  padding: 0 4px;
  text-align: center;
  background: var(--code-title-bg);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 14px;
}
code {
  counter-reset: line;
}
code > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1.5rem;
  margin-right: 1.5rem;
  text-align: right;
  color: gray;
}
code > [data-line][data-highlighted-line]::before {
  border-left: 4px solid var(--highlighted-br);
}
code span[data-highlighted-line] {
  background-color: var(--highlighted-bg);
}
